/* mobile first style */
body {
  font-size: 2rem;
}

.container {
  background-color: dimgrey;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 3rem;
  }

  .container {
    background-color: rgb(9, 179, 9);
    margin: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 4rem;
  }

  .container {
    background-color: rgb(110, 14, 201);
    margin: 40px;
  }
}
